/*620101035 Jerome Henry*/
header {
  color:white;
  background-color:black;
  text-align: left;
  width: 100%;
  height:30px;
  font-size: 12px;
  font-family: sans-serif;
  position: relative;
  z-index: 2;
  }

body{
  font-size:12px;
  background:#00000
  color: #212121;
  height: 100%;
  position: fixed;
}
.grid {
  display: grid;
  grid-template-columns:repeat(5, 200px);
  grid-template-rows: 50px 75px .75fr 75px 75px .75fr 50px ;
  grid-column-gap:5px;
  grid-row-gap:5px;
}
.sideNav{
  grid-row: 1 / span 6;
  grid-column: 1/ span 1;
  position: fixed;
  z-index: 1;
  top: 46px;
  overflow-x: hidden;
  color: black;
  background-color: #e4e6e9;
}

.New, .Create{
  font-family: calibri;
  z-index: 1
}

.sideNav a{
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-family: calibri;
  font-weight: 55;
  font-size: 25px;
  color: black;
  display: block;
}

.sideNav a:hover{
  color:#fcca03;
}

.main{
  margin-left: 143px;
  font-family: calibri;
}

.Fname, .Title {
  grid-row: 2 ;
  grid-column: 1 / span 4;
  padding-left: 5px;
}

.Lname, .Desc{
  grid-row: 3;
  grid-column: 1/ span 4;
  padding-left: 5px;
 }

  .Desc input{
  height: 80px;
 }

.Pass, .Assign{
  grid-row: 4;
  grid-column: 1/ span 4;
  padding-left: 5px;
 }

.Email,.Type{
  grid-row: 5;
  grid-column: 1/ span 4;
  padding-left: 5px;
 }

 .Priority{
  grid-row: 6;
  grid-column: 1/ span 4;
  padding-left: 5px;
 }
input{
  width:23%;
  background-color:#fcca03;
  border-radius: 4px;
  padding-bottom: 5px;
 }

 img {
  padding-left: 10px;
  grid-column: 2;
}
#submit{
  background-color: #0390fc;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  grid-row: 7;
  grid-column: 1;

 }

#submit:hover,#submit1:hover{
  background-color:#94fc03;
}

.custom-select {
  position: relative;
  font-family: Calibri;
  width: 190px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fcca03;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: black;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #fcca03;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #c9991e;
}

/*Login*/
body{
    margin:0px;
}

#logHead{
  background-color: black;
  display: grid;
  align-content: center;
  height: 70px;
  width: 100%
  color: white;
  padding-left: 300px;
}

#loginBody{
  background-image: url("log in.jpg");
  background-repeat: no-repeat, repeat;
  width:100%;
  opacity: 10%;
}

#loginBody form{
  background-color: #ede9c0;
  height: 400px;
  width: 300px;
  border-radius: 4px;
  margin-left: 35%;
  margin-top: 10px;
  padding-left: 105px;
  padding-top: 40px;
}

#loginBody form input{
  height: 20px;
  width: 150px;
  margin-bottom: 30px;
}
#submit1{
  width: 100px;
  height: 25px;
  background-color: #0390fc;
  color: black;
  text-align: center;
  font-size: 12px;
}
